//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 04 09:08:53 2016
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

